/* Body */
body{
  color: #2a2a2a;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  }

/* Header */

.header {
  width: 100%;
  height: 75px;
  background-color: #febf55;
  text-align: center;
  line-height: 70px;
}


/* Menu */
@media screen and (max-width: 480px) {
    .menu {
      width: 100%;
      height: 71px;
      background-color: #fe6ccd;
      text-align: center;

    }
    #menusito {
      margin: 1%;
      height: 80px;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #9dbdcc;
      display: inline;
      line-height: 71px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 720px) {
      .menu {
        width: 100%;
        height: 71px;
        background-color: #8d6cfe;
        text-align: center;

      }
      #menusito {
        margin: 1%;
        height: 80px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #9dbdcc;
        display: inline;
        line-height: 71px;
      }
    }
    /*@media screen and (max-width: 1248px) {
        .menu {
          width: 100%;
          height: 71px;
          background-color: #fe6ccd;
          text-align: center;
        }

        #menusito {
          margin: 1%;
          height: 80px;
          padding-left: 5%;
          padding-right: 5%;
          background-color: #9dbdcc;
          display: inline;
          line-height: 71px;
        }

      }
*/
.initialp{
  margin-top: 25px;
}
.photo {
  width: 100%;
  height: 600px;
  background-color: #fff;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
  width: 70%;
  height: 600px;
  padding-top: 20px;
}

@media screen and (max-width: 480px) {
  p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  p {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 721px) {
  p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.pie {
  width: 100%;
  height: 104px;
  color: #e3e3e3;
  background-color: #2e2e2e;
  align: left;
  padding-top: 15px;
}

ul{
  list-style-type: none;
  margin: 0;
}

.locations {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
