/* Body */
body{
  height: 100%;
  width: 100%;
  color: #2a2a2a;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  }

.container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Header */

.header {
  width: 100%;
  height: 75px;
  background-color: #febf55;
  text-align: center;
  line-height: 70px;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.header img {
  width: 125px;
  padding-top: 20px;
  padding-left: 15px;
  float: left;
}

/* Menu */

@media screen and (max-width: 480px) {
    .menu {
      width: 100%;
      height: 71px;
      background-color: #3e3e3e;
      text-align: center;
    }

    .menusito {
      margin: 1%;
      height: 20px;
      padding-left: 5%;
      padding-right: 5%;
      color: #2a2a2a;
      display: inline;
      line-height: 71px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: 720px) {
      .menu {
        width: 100%;
        height: 71px;
        background-color: #3e3e3e;
        text-align: center;
      }

      .menusito {
        margin: 1%;
        padding-left: 5%;
        padding-right: 5%;
        color: #2a2a2a;
        display: inline;
        line-height: 71px;
      }
    }

    @media screen and (min-width: 721px) {
        .menu {
          width: 100%;
          height: 71px;
          background-color: #3e3e3e;
          text-align: center;
        }

        .menusito {
          margin: 1%;
          height: 80px;
          padding-left: 5%;
          padding-right: 5%;
          color: #2a2a2a;
          display: inline;
          line-height: 71px;
        }
      }

      .tabs {
        width: 90%;
        padding-top: 25px;
        margin: 0 auto;
      }

      .tabs img{
        width: 90%;
      }

.initialp{
   position: relative;
   z-index: 200;
   margin-top: 25px;
   width: 100%;
}
.initialp p{
   color: #2a2a2a;
   text-align: center;
   margin: 0 auto;
   padding-bottom: 15px;
}

.photo {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #fff;
  padding-top: 0;
  margin-top: 0;
}

/*Inicio*/
iframe {
  position: absolute;
  top: 0;
  bottom: 0%;
  right: 2%;
  left: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center;
  width: 80%;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
  z-index: 10;
}

@media screen and (max-width: 480px) {
  p {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  p {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 721px) {
  p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}
/*fin inicio*/

ul{
  list-style-type: none;
  margin: 0;
}

/*pag inicio*/
.locations {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
/*-pag inicio-*/

/*bootstrap*/
#colorlib-services {
  padding: 3em 0;
  clear: both;
}

  #colorlib-services p {
    width: 250px;
    margin: 0 auto;
  }
  p span {
    display: block;
  }

  #colorlib-services img {
    width: auto;
  }
  @media screen and (max-width: 768px) {
    #colorlib-services {
      padding: 3em 0; }
    }

.colorlib-services {
  padding: 3em !important; }
  @media screen and (max-width: 768px) {
    .colorlib-services {
      padding: .5em !important; }
   }
/*end bootstrap*/

.pie {
  width: 100%;
  height: 100px;
  color: #e3e3e3;
  background-color: #2e2e2e;
  align: left;
  margin-top: 25px;
  padding-top: 25px;
}

.pie p{
   font-size: 1em;
}
